.home .home-img img {
    height: 400px;
    border-radius: 5px;
    margin: auto;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.home{
    min-height: 100vh;
    display: flex;
    content: var(--text-black-900);
}

.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}

.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home-img::after{
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    right: 20px;
    bottom: -40px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
}

.home-img::before{
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    left: 20px;
    top: -40px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
}

.hello{
    font-size: 28px;
    margin: 15px 0;
    color: var(--text-black-900);
}

.hello span {
    font-family: "Clicker Script", cursive;
    font-size: 34px;
    font-weight: 700;
    color: var(--skin-color);
}

.my-profession{
    font-size: 30px;
    margin: 15px 0;
    color: var(--text-black-900);
}

.typing {
    color: var(--skin-color);
}

.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

@media screen and (max-width: 991px){
    .home .home-img{
        display: none;
    }

    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
}